.credits {
    font-size: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.credits > div {
    width: 100%;
    padding: 3em;
}

.split {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.split > * {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    padding: 0.5em;
}

.newsection {
    padding-top: 1em;
}

.sectionlabel {
    padding-right: 1em;

    font-weight: 600;
}

.sectionlist {
    text-align: left;
    font-weight: 500;

    width: 50%;
}