.container {
  width: 100%;
}

.headline {
  font-family: var(--headlines);
  font-size: 12vh;

  width: 100%;
  padding: 8vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline * {
  margin: -0.12em 0;

  opacity: 0;
  color: var(--red);
}

.banners {
  width: 100vw;

  position: relative;
  left: 50%;
  margin-left: -50vw;
  right: 50%;
  margin-right: -50vw;
}

.kuriosity {
  background-color: #e86f6f;
}