.container {
  width: 100%;
}

.headlineContainer {
  /* height: calc(100vh - var(--navbarheight)); */
  width: 100%;
  padding: max(10vw, 12vh);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  color: var(--red);
}

.headlineContainer > * {
  margin: 2vh 0;
}

.headlines {
  font-family: var(--headlines);
  font-size: max(9vw, 10vh);
  line-height: max(8vw, 9vh);

  display: block;
}

.headlines > * {
  margin: 2vh 0;
}

.headlineLinks {
  margin-left: 0.4vh;
}

.headlineLinks * {
  font-size: 2vh;
  color: var(--primary);

  padding: 0 0.2em;
}

.headline span {
  padding: 2vh;
}

.headline a:hover {
  color: var(--red);
}

.banners {
  width: 100vw;

  position: relative;
  left: 50%;
  margin-left: -50vw;
  right: 50%;
  margin-right: -50vw;
}

.banners > div {
  height: 23rem;

  position: relative;
  padding: 0 5%;
}

.banners h1 {
  font-size: 4rem;
  
  position: absolute;
  top: 2rem;
  left: 8%;
  margin: 0;

  z-index: 9;

  /* text-shadow: 3px 3px var(--secondary); */
}

.imagesContainer {
  position: absolute;
  top: 4.5rem;
  left: calc(8% + 2rem);
  right: 8%;
  bottom: 2.5rem;
}

.images {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: row;
  /* overflow-x: hidden; */
}

.images img {
  max-height: 100%;
  width: auto;
  padding: 0 0.5rem 0 0;
}

.images :last-child {
  padding: 0
}

.tesla {
  background-color: #b9142d;
  text-shadow: 3px 3px black;
}

.rapyuta {
  background-color: black;
  color: white;
  text-shadow: 3px 3px #c81a26;
}

.grt {
  background-color: #a90000;

  text-shadow: 3px 3px black;
}

.kurio {
  text-shadow: 3px 3px #a90000;
}