.container {
    width: 100%;
    padding: 4em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > * {
    margin: 1em;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palette {
    height: 8em;

    display: flex;
    gap: 2em;
    /* background-color: var(--borders); */
}

.palette > div {
    height: 100%;
    aspect-ratio: 1.1;

    padding: 1em;

    border: 4px solid var(--borders);
    border-radius: 1.25em;
}